// _variables.scss

$accent-color-bg: #d97706;
$accent-color-bg-hover: #b45309;
$accent-ring: #f59e0b;
$error-color: "#ef4444";
$text-color: #78350f;

$bg-color: #fffbeb;
$border-color: #fcd34d;
$card-bg: #ffffff;
