@use "../../styles/variables" as vars;

.profile-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.accordion-data {
  background-color: vars.$card-bg;
  border-radius: 1rem;
  border: 1px solid vars.$border-color;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  .acc-header {
    align-content: center;
  }

  .p-accordion-tab-active {
    .p-accordion-header-link {
      background-color: vars.$bg-color;
    }
    .acc-header {
      color: vars.$accent-ring;
    }
  }
  .p-accordion-header {
    background-color: vars.$card-bg;
    border: 1px solid vars.$border-color;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;

    font-weight: 600;
    font-size: 1.1rem;
    transition: background 0.2s ease;

    .p-accordion-header-text {
      color: vars.$text-color;
      position: relative;
      left: -1rem;
    }

    .p-accordion-toggle-icon {
      color: vars.$text-color;
      position: relative;
      left: 98%;
    }
  }

  .p-accordion-content {
    background-color: vars.$bg-color;
    border: 1px solid #f6d570;
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 0.5rem;
  }

  .p-accordion-header-link {
    border-radius: 1rem !important;
    background-color: vars.$card-bg;
    &:hover {
      background-color: vars.$bg-color;
    }
  }
}
