::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fdf9f0;
}

::-webkit-scrollbar-thumb {
  background-color: #b8860b;
  border-radius: 10px;
  border: 2px solid #fdf9f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b8860b;
}

* {
  scrollbar-width: thin; // 'auto' or 'thin'
  scrollbar-color: #b8860b #fdf9f0;
}
