@use "../../styles/variables" as vars;
@use "sass:color";

.input-text {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: 1px solid vars.$border-color;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease-in-out;
  outline: none;

  &::placeholder {
    color: #9ca3af;
  }

  &:focus {
    box-shadow: 0 0 0 2px vars.$accent-ring;
    border-color: vars.$accent-ring;
  }
}

.field-icon {
  color: vars.$accent-ring;
  z-index: 2;
}

.dropdown-field {
  width: 100%;

  padding-left: 2.5rem; // pl-10
  border: 1px solid vars.$border-color;
  border-radius: 0.5rem; // rounded-lg
  background-color: #ffffffcc; // bg-white/80 (semi-transparent)
  outline: none;
  transition: all 0.15s ease-in-out;
}

.p-dropdown.p-component.p-inputwrapper-focus {
  border-color: vars.$accent-ring;
  box-shadow: 0 0 0 2px vars.$accent-ring;
}

.p-multiselect.p-component.p-inputwrapper-focus {
  border-color: vars.$accent-ring;
  box-shadow: 0 0 0 2px vars.$accent-ring;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  border-color: vars.$accent-ring;
  box-shadow: 0 0 0 2px vars.$accent-ring;
}

.p-datepicker-trigger {
  background-color: white;
  color: vars.$accent-ring;
  &:focus {
    border-color: vars.$accent-ring;
    box-shadow: 0 0 0 2px vars.$accent-ring;
  }
}

.update-btn {
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: vars.$accent-color-bg;
  transition: background-color 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  place-content: center;

  &:hover {
    background-color: vars.$accent-color-bg-hover;
    transform: scale(1.01);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.normal-btn {
  flex-shrink: 0;

  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: vars.$card-bg;

  background-color: vars.$accent-color-bg;
  border-radius: 0.5rem;

  transition: all 150ms ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: vars.$accent-color-bg-hover;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(245, 158, 11, 0.5);
  }

  &.p-disabled {
    pointer-events: auto;
    cursor: not-allowed;

    border-color: #ccc;
    background-color: #eee;
    color: #999;
    opacity: 0.8;

    &:hover {
      background-color: #eee;
      color: #999;
      cursor: not-allowed;
    }
  }
}

.heading {
  font-size: 1.5rem; // text-2xl
  font-weight: 600; // font-semibold
  margin-bottom: 2rem; // mb-8
  text-align: center;
  color: vars.$text-color;
}

.secondary-btn {
  width: 50%;
  border: none;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  color: #4b5563;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #d1d5db;
  }
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;

  @media (max-width: 500px) {
    gap: 0;
    grid-template-columns: 1fr;
  }
}

.my-custom-icon {
  background-color: vars.$border-color;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  color: white;
}

.my-custom-icon .pi {
  font-size: 1rem;
  color: white;
}

.input-label {
  font-size: small;
  color: vars.$text-color;
  margin-bottom: 0.5rem;
  &.required::after {
    content: " *";
    color: red;
  }
}

.input-suffix {
  position: absolute;
  right: 10px;
  top: 68%;
  transform: translateY(-50%);
  color: #777;
  font-size: 0.9rem;
  pointer-events: none;
}
